body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}
.user-table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.user-table th, .user-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
.user-table tbody tr {
    border-bottom: 1px solid #ddd;
}
.user-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.user-table tbody tr:hover {
    background-color: #f0a500;
    color: white;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

form {
    margin-top: 30px;
    max-width: 600px;
}

.create-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn {
    padding: 10px 20px;
    background-color: #f0a500;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}
